<article class="homepage-hero container">
    <picture>
        <!--[if IE 9]>
        <video style="display: none;"><![endif]-->
        <source srcset="/uploads/homepage_hero/landing-hero.jpg" media="(min-width: 1025px)">
        <source srcset="/uploads/homepage_hero/landing-hero_1024.jpg" media="(min-width: 481px)">
        <!--[if IE 9]></video><![endif]-->
        <img src="/uploads/homepage_hero/landing-hero_480.jpg"
             srcset="/uploads/homepage_hero/landing-hero_480.jpg" alt=""
        >
    </picture>
    <div class="homepage-hero__overlay homepage-hero__overlay--statement row">
        <div class="small-12 medium-12 large-10 large-offset-1 columns text-center">
            <h1 class="homepage-hero__statement homepage-hero__statement--spaced">
                I FOUND MYSELF
            </h1>
            <div class="homepage-hero__buy">
                <h2 class="homepage-hero__buy__title">The Molly Jacket Line</h2>
                <div class="hero-buttons hero-buttons--clear">
                    <a href="/products/category" class="button buy">Hoodies</a>
                    <a href="/products/category" class="button buy">Vests</a>
                    <a href="/products/category" class="button buy">Jackets</a>
                </div>
            </div>
        </div>
        <div class="small-12 columns text-center down-arrow__wrap">
            <img src="/images/arrow-down.svg" width="11" height="30" alt="" class="down-arrow">
        </div>
    </div>
    <img class="homepage-hero-angle" src="/images/bottom-angle.svg" alt="">
</article>
