{% include '../sizing/_content.html.twig' %}
<button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true"><img src="/images/close-cart.svg" alt="" width="30" height="30"></span>
</button>
{% include '../sizing/_vue-script.html.twig' %}
